:root {
  --light-brown-color: #D0A144;
  --dark-brown-color: #784F33;
  --dark-blue-color: #252B42;
  --medium-blue-color: #295C7A;
  --light-black-color: #737373;
  --light-blue-color: #6f7dfb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font-family: "Martel", serif;
font-family: "Montserrat", sans-serif;
font-family: "Open Sans", sans-serif; */
/* ................Utility classes................. */
.section_padding {
  padding-left: 195px;
  padding-right: 195px;
}

.h2_center {
  font-family: "Martel", serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #ffff;
}

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.buttons {
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  font-size: 14px;
}

/* ................Utility classes................. */


/* ...................Header Stars..................... */
header {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header_nav {
  display: flex;
  padding-left: 195px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 36px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  transition: all 400ms ease-in-out;
}

.header_nav_scrolled{
  background-color: var(--dark-blue-color);
}

.logo {
  font-family: "Martel", serif;
  font-style: bold;
  font-size: 24px;
  color: #ffff;
}

.mobile_nav {
  display: none;
}

.nav_item_img3{
  display: none;
}

.nav_items {
  display: flex;
  list-style: none;
  padding-right: 60px;
}

.nav_items .nav_item_text {
  margin-right: 21px;
}

.nav_items .nav_item_text a {
  Font-family: "Open Sans", sans-serif;
  font-weight: 600;
  Font-size: 14px;
  text-decoration: none;
  color: #fff;
}

.nav_item_img1 {
  margin-right: 18px;
}

.nav_item_img2 {
  margin-right: 140px;
}

.hero_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1620px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 102px;
}

.hero_left h2 {
  font-family: "Martel", serif;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  color: #ffff;
  margin-bottom: 35px;
}

.hero_left p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 30px;
  font-size: 20px;
  color: #ffff;
  margin-bottom: 35px;
  margin-right: 130px;
}

.hero_left_buttons a {
  font-family: "Open Sans", sans-serif;
  font-style: 700;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  padding: 10px 36px;
  border-radius: 37px;
  border: 1px solid #ffff;
  color: #ffff;
}

.hero_left_buttons a:hover {
  border: 1px solid var(--light-brown-color);
  background-color: var(--light-brown-color);
}

.hero_right {
  align-self: flex-end;
}

.hero_right img {
  display: block;
  width: 100%;
}

/* ...................Header Ends..................... */

/* ...................Services Section Starts..................... */
.services_section {
  background-color: var(--dark-blue-color);
  padding-top: 100px;
  padding-bottom: 87px;
  margin-bottom: 25px;
}

.services_container1 {
  max-width: 1240px;
  margin: auto;
}

.services_container1 h2,
.services_container2 h2,
.about_clients_subscription_section h2,
.contact_section h2 {
  margin-bottom: 10px;
}

.services_container1>p,
.services_container2>p,
.about_clients_subscription_section>p,
.contact_section>p {
  font-style: 400;
  color: #ffff;
  text-align: center;
}

.services_cards_container1 {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 227px;
}

.service_card_1 {
  background-color: #ffff;
  border-radius: 5px;
}

.service_card_1 a {
  text-decoration: none;
  display: block;
  padding: 30px 110px;
}

.service_card_1 a img {
  display: block;
  width: 53px;
  height: 53px;
  margin: auto;
}

.service_card_1 a h3 {
  color: var(--dark-blue-color);
}

.service_card_1:hover {
  background-color: var(--medium-blue-color);
}

.service_card_1:hover h3 {
  color: #ffff;
}

.services_container2 {
  max-width: 1240px;
  margin: auto;
}

.services_cards_container2 {
  display: flex;
  margin-top: 45px;
  align-items: center;
  justify-content: space-between;
}

.service_card_2 {
  background-color: #ffff;
  width: 230px;
  height: 340px;
  border-radius: 2px;
}

.service_card_2 a {
  text-decoration: none;
}

.service_card_2 a>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.service_card_2 a h3 {
  font-family: "Martel", serif;
  font-style: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 30px 75px 15px 30px;
  color: var(--dark-blue-color);
}

.service_card_2 a p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: regular;
  line-height: 20px;
  margin: 0px 57px 30px 30px;
  color: var(--light-black-color);
}

.service_card_2_img {
  width: 230px;
  height: 138px;
}

.service_card_2_img img {
  align-self: flex-end;
  display: block;
  width: 100%;
  height: 100%;
}

/* ...................Services Section Ends..................... */

/* ...................About Client Subscription Section Starts..................... */
.about_clients_subscription_section {
  background-color: var(--dark-blue-color);
  padding-top: 100px;
  padding-bottom: 20px;
  margin-bottom: -1px;
}

.about_container {
  margin-top: 100px;
  margin-bottom: 118px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
}

.about_left {
  max-width: 597px;
  margin-right: 120px;
}

.about_left img {
  display: block;
  width: 100%;
}

.about_right {
  max-width: 333px;
}

.about_right h2 {
  font-family: "Martel", serif;
  font-style: bold;
  font-size: 40px;
  line-height: 50px;
  color: #ffff;
  margin-bottom: 10px;
}

.about_right>p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: regular;
  line-height: 20px;
  color: #ffff;
}

.about_right_last_para {
  margin-bottom: 50px;
}

.about_right_feature_container1,
.about_right_feature_container2 {
  display: flex;
  justify-content: space-between;
}

.about_right_feature_container1 {
  margin-bottom: 30px;
}

.about_right_feature_container1 p,
.about_right_feature_container2 p {
  font-family: "Martel", serif;
  font-size: 15px;
  font-style: bold;
  line-height: 24px;
  color: #ffff;
  margin-bottom: 5px;
}

.client_logo_container {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1500px;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.subscription_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 20px auto;
  padding: 30px 50px;
  border-radius: 2px;
  background-image: linear-gradient(#295C7A 0%, #0072B5 100%);
}

.subscription_left h3 {
  font-family: "Martel", serif;
  font-size: 24px;
  font-style: bold;
  line-height: 32px;
  color: #ffff;
}

.subscription_right {
  border-radius: 5px;
}

.subscription_right form {
  display: flex;
  width: 450px;
  height: 58px;
  align-items: center;
}

.subscription_right form label {
  display: none;
}

.subscription_right form input[type="email"] {
  display: block;
  width: 333px;
  height: 100%;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

.subscription_right form input[type="email"]::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: regular;
  line-height: 28px;
  color: var(--light-black-color);
  display: inline-block;
  padding: 15px 0px 15px 20px;
}

.subscription_right form button {
  width: 117px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: regular;
  line-height: 28px;
  color: #ffff;
  background-color: var(--light-brown-color);
  border: none;
  border-radius: 0px 5px 5px 0px;
}


/* ...................About Client Subscription Section Ends..................... */

/* ...................Contact Section Starts..................... */
.contact_section {
  background-color: var(--dark-blue-color);
  padding-top: 80px;
}

.contact_cards_container {
  margin-top: 110px;
  margin-bottom: 185px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.contact_card {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 327px;
  height: 333px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease;
}


.contact_card:hover {
  background-color: var(--medium-blue-color);
  scale: 1.1 1.2;
}

.contact_card:hover a,
.contact_card:hover p,
.contact_card:hover .contact_card_button a {
  color: #ffff;
}

.contact_card:hover .contact_card_button {
  border: 1px solid #ffff;
}

.contact_card_img {
  margin-bottom: 15px;
}

.contact_card a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--dark-blue-color);
}

.contact_card p {
  font-family: "Martel", serif;
  font-size: 16px;
  font-style: bold;
  line-height: 24px;
  color: var(--dark-blue-color);
  margin: 15px 0px;
}

.contact_card .contact_card_button {
  border: 1px solid var(--medium-blue-color);
  border-radius: 5px;
}

.contact_card .contact_card_button a {
  display: inline-block;
  padding: 10px 20px;
  color: var(--medium-blue-color);
}

.request_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.request_contact_left h3 {
  font-family: "Martel", serif;
  font-size: 24px;
  font-style: bold;
  line-height: 32px;
  color: #ffff;
  margin-bottom: 10px;
}

.request_contact_left p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: regular;
  line-height: 20px;
  color: #ffff;

}

.request_contact_right {
  background-color: var(--dark-brown-color);
  border-radius: 5px;
}

.request_contact_right a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  color: #ffff;
  display: inline-block;
  padding: 15px 40px;
}

/* ...................Contact Section Ends..................... */

/* ...................Footer Section Starts..................... */
.footer_nav_main {
  background-color: var(--medium-blue-color);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer_nav h4 {
  font-family: "Martel", serif;
  font-size: 16px;
  font-style: bold;
  line-height: 24px;
  color: #ffff;
  margin-bottom: 20px;
}

.footer_nav ul {
  list-style: none;

}

.footer_nav ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #ffff;
  margin-bottom: 10px;
}

.footer_nav ul li a {
  text-decoration: none;
  color: #ffff;
}

.footer_nav_mixed {
  display: flex;
  text-align: center;
}

.footer_nav_mixed img {
  display: inline-block;
  margin-right: 10px;
}

.copyright_social {
  background-color: var(--dark-blue-color);
}

.copyright_social_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 1220px;
  margin: auto;
}

.copyright_social_container p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: bold;
  line-height: 24px;
  color: #ffff;
}

.social_container a img {
  display: inline-block;
  margin-left: 20px;
}

/* ...................Footer Section Ends..................... */


@media(max-width: 1384px) {

  .section_padding {
    padding-left: 150px;
    padding-right: 150px;
  }


  .services_cards_container1 {
    margin-bottom: 100px;
  }

  .service_card_1 a {
    padding: 15px 55px;
  }

  .service_card_1 a img {
    width: 53px;
    height: 53px;
  }

  .service_card_2 {
    width: 172px;
    height: 364px;
  }

  .service_card_2 a h3 {
    margin: 30px 40px 15px 30px;
  }

  .service_card_2 a p {
    margin: 0px 40px 20px 20px;
  }

  .service_card_2_img {
    width: 172px;
    height: 120px;
  }

  .about_clients_subscription_section {
    padding-top: 80px;
  }

  .about_container {
    margin-top: 60px;
    margin-bottom: 60px;

  }

  .contact_section {
    padding-top: 40px;
  }

  .contact_cards_container {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .contact_card {
    width: 230px;
    height: 320px;
  }

  .footer_nav_main {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media(max-width: 1000px) {
  .section_padding {
    padding-left: 50px;
    padding-right: 50px;
  }

  .header_nav {
    padding-left: 45px;
  }

  .nav_items {
    padding-right: 45px;
  }

  .nav_item_img2 {
    margin-right: 70px;
  }
}

@media(max-width: 850px) {
  .section_padding {
    padding-left: 35px;
    padding-right: 35px;
  }

  .header_nav {
    padding-left: 35px;
    z-index: 2;
  }

  .nav_items {
    padding-right: 35px;
  }

  .nav_item_img1 {
    margin-right: 25px;
  }

  .nav_item_text {
    display: none;
  }

  .mobile_nav {
    display: contents;
  }
  
  .nav_item_img3{
    display: contents;
  }

  .mobile_nav_items{
    display: none;
    transition: all 400ms ease-in-out;
  }
  
  .mobile_nav_items.active {
    background-color: var(--dark-blue-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-bottom: 48px;
    padding-top: 140px;
    position: fixed;
    width: 100%;
    top: 0px;
  }

  .mobile_nav_items li {
    margin-bottom: 30px;
  }

  .mobile_nav_items a {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: #ffff;
  }

  .nav_item_img2 {
    margin-right: 32px;
  }

  .hero_section {
    flex-direction: column;
  }

  .hero_left h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-top: 84px;
  }

  .hero_left p {
    margin: 35px 36px;
    text-align: center;
  }

  .hero_left_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .hero_left_buttons a:nth-child(1) {
    display: inline-block;
    margin-bottom: 25px;
  }

  .hero_right {
    margin-top: 108px;
  }

  .services_cards_container1 {
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 75px;
  }

  .service_card_1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .service_card_1 a {
    display: block;
    min-width: 328px;
    min-height: 147px;
  }

  .services_cards_container2 {
    flex-direction: column;
  }

  .service_card_2 {
    margin-bottom: 30px;
    width: 230px;
    height: 340px;
  }

  .service_card_2_img{
    width: 230px;
    height: 138px;
  }




  .about_container {
    flex-direction: column;
  }

  .about_left {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .about_right {
    margin-left: auto;
    margin-right: auto;
  }

  .client_logo_container {
    flex-direction: column;
  }

  .client_logo {
    margin-bottom: 60px;
  }

  .subscription_container {
    flex-direction: column;
  }

  .subscription_left {
    margin-bottom: 30px;
  }

  .subscription_right form {
    width: 337px;
  }

  .contact_cards_container {
    flex-direction: column;
  }

  .contact_card {
    margin-bottom: 30px;
    width: 328px;
    height: 330px;
  }

  .request_contact {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 58px;
    margin-right: 58px;

  }

  .request_contact_right {
    margin-top: 50px;
  }

  .footer_nav_container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 55px;
    padding-left: 53px;
  }

  .copyright_social_container {
    flex-direction: column;
    align-items: start;
    padding-left: 55px;
    padding-right: 70px;
  }

  .copyright_social_container p {
    margin-bottom: 50px;
  }

  .social_container a img {
    margin-right: 20px;
    margin-left: 0;
  }


}

@media(max-width: 600px) {

  .services_container1>p,
  .services_container2>p,
  .about_clients_subscription_section>p,
  .contact_section>p {
    padding-left: 70px;
    padding-right: 70px;
  }
}